.mobile-menu--container {
    position: absolute;
    width: 30vw;
    transition: all 0.1s;
    background-color: azure;
    border-radius: 15px 0 0 15px;
    padding: 0 1rem;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu--container button {
    width: 25vw;
}

.mobile-menu--navbar--button-login {
    background-color: var(--button-color);
    color: var(--blue);
    padding: 1rem 2rem;
    border-radius: 5px;
    height: auto;
    width: auto;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.slide {
    transform: translateX(-25vw);

    /* width: 30vw; */
    /* right: 0; */
}

@media screen and (max-width: 600px) {
    .mobile-menu--container {
    
        width: 70vw;
        
    }

    .slide {
        transform: translateX(-69vw)
    }
    
    .mobile-menu--container button {
        width: 50vw;
    }
}