/*
@font-face {
    font-family: 'Avengeance';
    src: url('/frontend/src/assets/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf') format('truetype');
}
*/

.sectionServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 14rem;
}

.tittleServices {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;
    color: var(--main-text-color);
}

@media screen and (max-width: 1120px) {
    .tittleServices {
        padding: 0;
    }

    .sectionServices {
        width: 100%;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 834px) {
    .tittleServices {
        display: flex;
        justify-content: center;
        font-style: italic;
    }

    .sectionServices {
        width: 100%;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        justify-items: center;
    }
}

@media screen and(max-width: 570px) {
    .sectionServices {
        /* margin-bottom: 40rem; */
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .sectionServices {
        margin-top: 3rem;
    }
}


/* 
@media screen and (max-width: 1120px) {
    .tittleServices {
        padding-bottom: 3rem;
    }
}

@media (max-width: 834px) {
    .tittleServices {
        display: flex;
        justify-content: center;
        font-style: italic;
        font-size: 5vw;
        margin-top: 5%;
        margin-bottom: -35%;
    }

    .sectionServices {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 315px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 35vw;
        height: 35vw;
        background-color: var(--main-color);
        padding: 5px;
        border-radius: 10px;
        border: 1px solid;
        font-size: 1rem;
    }

    .childButton{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        margin: auto;
        font-size: 2vw;
        font-style: unset;
    } 
}

@media (max-width: 400px) {
    .sectionServices {
        margin-top: 3rem;
    }
} */