.fileQuoting--container {
    padding-bottom: 10rem;
    padding-top: 6rem;
    margin: 1rem 8rem 1rem 8rem;
    display: flex;
    flex-direction: column;

    /* display: grid;
    grid-template: 1fr / 1fr 4fr 7fr; */
}

.fileQuoting--userList-searchbar {
    height: fit-content;
    padding: 0.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-size: medium;
    margin-bottom: 1rem;
}

.fileQuoting--userList {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.fileQuoting--userList-label {
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
    border-bottom: 0;
    justify-content: space-between;
    background-color: #ffd8d8;
}

.fileQuoting--userList-item {
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
    border-bottom: 0;
    justify-content: space-between;
    background-color: white;
}

.fileQuoting--userList-item:hover {
    cursor: pointer;
    background-color: #dfdfdf;
}

.fileQuoting--userList-item-number {
    width: 1rem;
    text-align: center;
}

.fileQuoting--scrollableList {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 2px solid #888;
}

.fileQuoting--responsive--button {
    display: none;
}

.fileQuoting {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fileQuoting--text {
    color: var(--main-text-color);
}

.fileQuoting--send-fileName {
    color: var(--main-text-color);
}

.division {
    border: 1px solid #888;
    width: 60%;
}

.fileQuoting--button {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.fileQuoting--img {
    width: 16px;
    height: 16px;
}

.label--fileQuoting {
    position: relative;
    width: 30vw;
    height: 15vh;
    /* background-color: rgb(190, 190, 190);
    border: 2px dashed black; */
    /* text-align: center; */
}

.fileQuoting--dragndrop {
    background-color: rgb(177, 177, 177);
    border: 2px dashed black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.label--fileQuoting.active>.fileQuoting--dragndrop {
    background-color: rgb(129, 129, 129);
}

#fileQuoting--dragndrop-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

}

.fileQuoting--send {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--main-color);
    border: 0;
    border-radius: 5px;
    color: var(--bg-light);
    font-weight: bold;
    font-size: 1rem;
    width: 8rem;
}

@media screen and (max-width: 834px) {
    .fileQuoting--responsive--button {
        display: block;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.2rem;
        border: 0;
        background-color: var(--main-color);
        color: white;
        width: 3rem;
        height: 3rem;
        grid-area: 1 / 2 / 2 / 3;
    }

    .fileQuoting--container {
        grid-template: 1fr / 3fr 9fr;
    }

    .fileQuoting--scrollableList {
        position: fixed;
        display: none;
    }
}