.fileQuoting--container {
    padding-bottom: 11rem;
    padding-top: 5rem;
    margin: 1rem 8rem 1rem 8rem;
    display: flex;
    flex-direction: column;
}

.fileQuoting--header {
    margin: 0;
    padding-bottom: 1rem;
}

.fileQuoting--userList-searchbar {
    height: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-size: medium;
    margin-bottom: 1rem;
    border: 1.5px solid black;
}

.fileQuoting--userList {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.fileQuoting--userList-label {
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
    border-bottom: 0;
    justify-content: space-between;
    background-color: #ffd8d8;
}

.fileQuoting--userList-item {
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
    border-bottom: 0;
    justify-content: space-between;
    background-color: white;
}

.fileQuoting--userList-item:hover {
    cursor: pointer;
    background-color: #dfdfdf;
}

.fileQuoting--userList-item-number {
    width: 1rem;
    text-align: center;
}

.fileQuoting--scrollableList {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 2px solid #888;
}

.fileQuoting--responsive--button {
    display: none;
}

@media screen and (max-width: 834px) {
    .fileQuoting--responsive--button {
        display: block;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.2rem;
        border: 0;
        background-color: var(--main-color);
        color: white;
        width: 3rem;
        height: 3rem;
        grid-area: 1 / 2 / 2 / 3;
    }

    .fileQuoting--container {
        margin: 2rem 4rem 1rem 4rem;
        padding-bottom: 16rem;
    }

    .fileQuoting--scrollableList {
        position: fixed;
        display: none;
    }
}