.homepage {
    padding-bottom: 9rem;
    width: 100%;
}

.homepage--slide-image {
    /* width: var(--image-width-var); */
    width: 100vw;
}

.imgDark {
    width: 50vw;
}

.homepage--text {
    padding: 4rem;
    
    width: 60vw;
    text-align: justify;
    margin: 1rem auto;
    font-family: var(--section-font);
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 50px !important;
}