.homepage {
    width: 100%;
}

.homepage--slide-image {
    width: 100vw;
}

.homepage--text {
    padding: 4rem 0;
    
    width: 60%;
    text-align: justify;
    margin: 1rem auto;
    font-family: var(--section-font);
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 15px;
}