footer {
    /* position: absolute; */
    margin-top: auto;
    /* bottom: 0; */
    /* right: 0; */
    display: flex;
    flex-direction: row;
    background-color: var(--footer-color);
    height: 4.5rem;
    padding: 2rem 6rem 2rem 4rem;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer--contents {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    font-size: smaller;
}

.footer--logo-left {
    display: flex;
    flex-direction: column;
}

.footer--logo {
    width: 18vw;
}

.footer--produtos {
    font-weight: bold;
}

.footer--produtos-item {
    cursor: pointer;
}

.footer--resources-bold {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.footer--resources-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer--resources-text {
    font-size: small;
    cursor: pointer;
    margin: 5px;
}

.footer--resources-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0px 0px;
}

.footer--empresa-bold {
    cursor: pointer;
    font-weight: bold;
}

.footer--empresa-item {
    cursor: pointer;
    margin-top: -0.3rem;
}