footer {
    position: absolute;
    bottom: 0rem;
    width: 100vw;
    height: 9rem;

    margin-top: auto;

    display: flex;
    flex-direction: row;
    background-color: var(--footer-color);
    align-items: center;
    justify-content:center;
    gap: 15vw;
    color: white;
}

.footer--contents {
    min-width: 17rem;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    font-size: smaller;
}

.footer--logo {
    width: 15rem;
}

.footer--produtos {
    font-weight: bold;
}

.footer--produtos-item {
    cursor: pointer;
}

.footer--resources-bold {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.footer--resources-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer--resources-text {
    font-size: small;
    cursor: pointer;
    margin: 4px;
}

.footer--resources-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0px 0px;
}

.footer--empresa-bold {
    cursor: pointer;
    font-weight: bold;
}

.footer--empresa-item {
    cursor: pointer;
    margin-top: -0.4rem;
}