.modal {
    width: 60vw;
    height: 70vh;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-top: 1rem;
}

.modal-list-label {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 10%;
}

.modal-close-btn {
    cursor: pointer;
    background-color: rgb(255, 45, 45);
    padding: 0.5rem;
    color: white;
}

.modal-close-btn:hover {
    background-color: rgb(212, 38, 38);
}

.collapsible-card {
    padding: 0.5rem;
    border: 1px solid black;
    border-bottom: 0;
    background-color: rgb(219, 219, 219);
}

.collapsible-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-text {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.collapsible-content {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    width: 100%;
}

.collapsible-icon-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

.collapsible-icon-button:hover {
    background-color: rgb(199, 199, 199);
}

.rotate-center-down {
    transform: rotate(180deg);
}

.rotate-center-up {
    transform: rotate(0deg);
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.collapsible-content-padding {
    padding-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.quotedPrice {
    width: 4rem;
    text-align: center;
}

.download--btn {
    cursor: pointer;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.download--btn:hover {
    background-color: rgb(199, 199, 199);
}

.quoting--input::-webkit-outer-spin-button,
.quoting--input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sendQuoting--btn {
    cursor: pointer;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.sendQuoting--btn:hover {
    background-color: rgb(199, 199, 199);
}

@media screen and (max-width: 834px) {
    .modal {
        width: 80vw;
        height: 70vh;
    }
}