header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
}

header img {
    height: 3.2rem;
    cursor: pointer;
}
header button {
    background-color: var(--main-color);
    outline: 0;
    border: 0;
    /* border: 2px; */
    /* border-style: solid; */
    padding: 0.7rem 1rem;
    margin: 0 0.4rem;
    color: #e6e6e6;
    font-weight: bold;
    font-size: 13px;
    width: auto;
    cursor: pointer;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
}

header button:hover {
    background-color: var(--button-color);
    color: orangered;
    border-radius: 4px;
}

.header--navbar--button-login {
    background-color: var(--button-color);
    color: var(--blue);
    border-radius: 5px;
    height: 2.5rem;
    width: 7rem;
}

/* .header--navbar--button-login:hover {
    border: 2px solid var(--button-color);

} */

