header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

header img {
    height: 3.5rem;
}
header button {
    background-color: var(--main-color);
}

.downarrow {
    height: auto;
}