@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--main-font);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bg-color);
  transition: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  position: relative;
  min-height: 100vh;
  width: 100vw;

  --bg-light: rgb(243, 235, 235);
  --bg-dark: rgb(85, 82, 82);

  --header-light: #F04B37;
  --header-dark: #292525;

  --button-light: #FFE492;
  --button-dark: rgb(207, 88, 19);

  --blue-light: #043873;
  --blue-dark: #4f96e7;

  --text-light: rgb(39, 39, 39);
  --text-dark: rgb(212, 204, 157);

  --button-red-hover: var(--header-light);
  --main-text-color: rgb(39, 39, 39);
  --bg-color: var(--bg-light);
  --main-font: "DM Sans", sans-serif;
  --section-font: "Inter", sans-serif;
  --main-color: #F04B37;
  --footer-color: #101415;
  --button-color: #FFE492;
  --blue: #043873;

  /* FONT SIZES */

  /* --font-size- */
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}