.sectionWhoAreWe {
    padding-top: 7rem;
    padding-bottom: 13rem;
}


.imageSomos {
    width: 10rem;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid;
    border-color: #ccc;
    cursor: default;
}

.containerSomos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.containerText {
    width: 40%;
    display: flex;
    padding: 20px;
    color: var(--text-color);
}

.tittleSomos {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    color: var(--main-text-color);
}

@media screen and (max-width: 1440px) {
    .tittleSomos {
        margin-top: 1rem;
    }

    .lastContainer {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 834px) {
    .tittleSomos {
        /* margin-bottom: 0; */
        font-size: 2rem;
    }

    .containerSomos {
        margin-bottom: 2vw;
        margin-top: 0;
        flex-direction: column;
    }

    .containerSomos.lastContainer {
        margin-bottom: 5rem;
        flex-direction: column-reverse;
    }

    .containerText {
        width: 80vw;
        font-size: 0.1rem;
        padding-top: 0;
    }
}

@media (max-width: 574px) {
    .tittleSomos {
        display: flex;
        justify-content: center;
        font-style: italic;
    }

    .lastContainer {
        margin-bottom: 180px;
        padding-bottom: 2rem;
    }
}

/* @media (max-width: 574px) {
    .tittleSomos{
        display: flex;
        justify-content: center;
        font-style: italic;
        font-size: 8vw;
    }

    .lastContainer{
        margin-bottom: 180px;
    }
} */