header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

header img {
    height: 4rem;
    cursor: pointer;
}

header button {
    background-color: var(--main-color);
    outline: 0;
    border: 0;
    padding: 0.7rem;
    margin: 1rem 0.4rem;
    color: #e6e6e6;
    font-weight: bold;
    width: auto;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
}

header button:hover {
    background-color: var(--button-color);
    color: var(--button-red-hover);
    border-radius: 4px;
}

.header--navbar--button-login {
    background-color: var(--button-color);
    color: var(--blue);
    padding: 1rem 2rem;
    border-radius: 5px;
    height: auto;
    width: auto;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

@media (max-width: 574px){
   header{
    display: grid;
    background-color: var(--main-color);
    height: auto;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    place-items: center;
   } 

   header button {
    background-color: var(--main-color);
    outline: 0;
    border: 0;
    padding: 0.7rem;
    margin: 1rem 0rem;
    color: #e6e6e6;
    font-weight: bold;
    width: auto;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
}
