.card--image {
    width: 12rem;
    height: 8rem;
    border-radius: 5px;
    cursor: default;
}

/* company main color #F04B37*/
.card--container {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid;
}

.card--text {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    margin: auto;
    color: black;
}

@media screen and (max-width: 1120px) {
    .card--container {
        font-size: 1.2rem;
    }
}

@media (max-width: 834px) {
    .card--container {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #C2C2C2;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid;
        font-size: 1.5rem;
    }

    .card--image {
        width: 15rem;
        height: 10rem;
        border-radius: 5px;
        cursor: default;
    }

    .card--text {
        align-items: center;
        padding-top: 5px;
        margin: auto;
        font-style: unset;
    }
}