.productspage {
    padding-bottom: 12rem;
}

.titleProducts {
    font-style: italic;
    padding: 0;
    margin: 2rem;
    color: var(--main-text-color);
}

.sectionProducts {
    margin: 5rem;
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 5rem;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.imageSearch {
    width: 4.5%;
    height: 4.5%;
}

.searchBarContainer {
    margin-left: 16vw;
    width: 30vw;
    border: 2px solid black;
    display: flex;
    border-radius: 20px;
    flex-flow: row nowrap;
    justify-content: center;
    background: white;
    align-items: center;
    margin-bottom: 3rem;
}

@media (max-width: 574px){
    .searchBarContainer {
        margin-left: 10vw;
        width: auto;
        margin-right: 10vw;
        border: 2px solid black;
        display: flex;
        border-radius: 20px;
        flex-flow: row nowrap;
        justify-content: center;
        background: white;
        align-items: center;
        margin-bottom: 3rem;
    }
}